{% extends 'portfolio_app/base.html' %} {% block content %}
<section class="about">
  {% load static %}
  <div class="container">
    <div class="left">
      <div class="hello">Hello, I'm</div>
      <h1 class="name">Ahmed Amin</h1>
      <p class="info">Junior Backend Developer</p>
      <p class="city">Egypt, Al-Fayoum</p>
      <a href="#contact">Let's Work</a>
    </div>
    <div class="right">
      <div class="photo">
        <img src="{% static 'images/me.png' %}" alt="Me" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
